# MongoDB
MONGODB_URI=mongodb+srv://username:password@cluster.mongodb.net/investai

# LLM Keys
GROQ_API_KEY=gsk_your_groq_key_here
GEMINI_API_KEY=AIza_your_gemini_key_here

# Server
PORT=5000
NODE_ENV=development
